root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[*.{c,h,cpp,hpp}]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

