Summary:        Password Safe is a password management utility.
Name:           passwordsafe
Version:        @VERSION@
Release:        1%{?dist}
Source:         https://github.com/pwsafe/pwsafe/archive/refs/tags/%{version}.tar.gz
Url:            https://pwsafe.org/
License:        Artistic-2.0
BuildRequires:  cmake file-devel gcc-c++ libXt-devel libXtst-devel
BuildRequires:  libcurl-devel libuuid-devel libyubikey-devel ninja-build
BuildRequires:  openssl-devel rpmdevtools rpm-sign xerces-c-devel
BuildRequires:  ykpers-devel qrencode-devel wxBase-devel wxGTK-devel
BuildRequires:  libreoffice-core
Obsoletes:      pwsafe

%description

Password Safe is a password manager.  It stores your passwords in an
encrypted file, allowing you to remember only one password (the
"master password"), instead of all the username/password combinations
that you use.  For extra security, you can use a Yubikey device to
provide two-factor authentication.

Password Safe runs on Windows, Linux, macOS and FreeBSD.


%prep
%autosetup -n pwsafe-%{version}


%conf
%cmake -DNO_GTEST=ON


%build
%cmake_build
#
cd docs
grep -E -v 'gitpod|badge.svg' ../README.md >README.md
# gitpod image corrupted when converted to pdf by ooffice
# missing image for badge
ooffice --headless --convert-to pdf pwsafe-state-machine.rtf
ooffice --headless --convert-to pdf ReleaseNotesWX.md
ooffice --headless --convert-to pdf ReleaseNotes.md
ooffice --headless --convert-to pdf README.md


%install
%cmake_install
for x in ChangeLog.txt \
         config.txt \
         formatV1.txt \
         formatV2.txt \
         formatV3.txt \
         formatV4.txt \
         help.txt \
         pwsafe-state-machine.pdf \
         ReleaseNotes.pdf \
         ReleaseNotesWX.pdf \
         README.pdf; do
    install -m 644 -D docs/$x    %{buildroot}%{_datadir}/doc/%{name}-%{version}/$x
done


%check
%ctest


%files
%{_bindir}/pwsafe*
%{_mandir}/man1/*
%docdir %{_datadir}/doc/%{name}-%{version}
%license LICENSE
%{_datadir}/%{name}/xml
%{_datadir}/%{name}/help
%{_datadir}/applications/pwsafe.desktop
%{_datadir}/doc/%{name}-%{version}
%{_datadir}/icons/*/*/*/pwsafe.png
%{_datadir}/locale/*/*/pwsafe.mo
%{_datadir}/metainfo/*.xml


%changelog
* Fri May 15 2026 Carl Byington <carl@five-ten-sg.com> - 1.24.0-1
- Add changelog entries from upstream.
- Custom fields can now be added to each entry. That is, fields with
  user-defined names and values.
- Changing the height of the Add/Edit dialog will cause a vertical
  scrollbar to be added.
- In the "Flattened List" view, sorting by time columns (e.g., entry
  creation time) now works correctly.
* Tue May 05 2026 Carl Byington <carl@five-ten-sg.com> - 1.23-2
- Use native spec file so the source rpm actually includes the
  source code.
- This includes source fixes thru 2026-05-05 which are not in
  the official 1.23-1 rpm.
- Convert docs to pdf format.
- Properly tag doc and license files.
- Enable debug packages.
* Tue Sep 29 2015 Rony Shapiro <ronys@pwsafe.org> - 0.97BETA-4
- Rename package to passwordsafe to avoid conflict with command-line pwsafe
* Thu Oct 24 2013 Johan Vromans <jvromans@squirrel.nl> - 0.92BETA-3
- Additional buildrequires for some platforms.
* Sun Sep 22 2013 Rony Shapiro <ronys@pwsafe.org> - 0.92BETA-2
- Changes for YubiKey build
* Sun Dec 02 2012 Rony Shapiro <ronys@pwsafe.org> - 0.8BETA-2
- Streamline rpm build process under PasswordSafe source tree
- Remove unwanted doc files from RPM
* Thu Nov 08 2012 David Dreggors <dadreggors@gmail.com> - 0.8BETA-1
- Spec file created for Fedora rpm builds
- First rpm build for Fedora 17
