Summary:        Password Safe is a password management utility.
Name:           passwordsafe
Version:        @VERSION@
Release:        1%{?dist}
Source:         passwordsafe-%{version}.tar.gz
Url:            https://pwsafe.org/
License:        Artistic2.0
Group:          Applications/Utils
Vendor:         Rony Shapiro
Packager:       Carl Byington <carl@five-ten-sg.com>
BuildRequires:  cmake file-devel gcc-c++ libXt-devel libXtst-devel
BuildRequires:  libcurl-devel libuuid-devel libyubikey-devel ninja-build
BuildRequires:  make openssl-devel rpmdevtools rpm-sign xerces-c-devel
BuildRequires:  ykpers-devel qrencode-devel wxBase-devel wxGTK-devel
BuildRequires:  libreoffice-core
Requires:       file-libs glibc libX11 libXtst libcurl libgcc libuuid
Requires:       openssl-libs qrencode-libs wxBase wxGTK xerces-c ykpers
Obsoletes:      pwsafe

%description

Password Safe is a password manager.  It stores your passwords in an
encrypted file, allowing you to remember only one password (the
"master password"), instead of all the username/password combinations
that you use.  For extra security, you can use a Yubikey device to
provide two-factor authentication.

Password Safe runs on Windows, Linux, macOS and FreeBSD.


%prep
%setup -c -n passwordsafe


%build
mkdir build
cd build
cmake -D NO_GTEST=ON -G Ninja ..
ninja
#
cd ../docs
grep -E -v 'gitpod|badge.svg' ../README.md >README.md
# gitpod image corrupted when converted to pdf by ooffice
# missing image for badge
ooffice --headless --convert-to pdf pwsafe-state-machine.rtf
ooffice --headless --convert-to pdf ReleaseNotesWX.md
ooffice --headless --convert-to pdf ReleaseNotes.md
ooffice --headless --convert-to pdf README.md
rm *.rtf *.md
rm pwsafe.1         # .gz version installed in man1
rm nojs.html        # don't need this


%install
install -m 755 -D build/pwsafe                        %{buildroot}%{_bindir}/pwsafe
install -m 755 -D build/cli/pwsafe-cli                %{buildroot}%{_bindir}/pwsafe-cli
install -m 644 -D build/pwsafe.1.gz                   %{buildroot}%{_mandir}/man1/pwsafe.1.gz
install -m 644 -D install/desktop/pwsafe.desktop      %{buildroot}%{_datadir}/applications/pwsafe.desktop
install -m 755 -d                                     %{buildroot}%{_datadir}/%{name}/xml
install -m 644    xml/*                               %{buildroot}%{_datadir}/%{name}/xml
install -m 755 -d                                     %{buildroot}%{_datadir}/%{name}/help
install -m 644    build/help/*.zip                    %{buildroot}%{_datadir}/%{name}/help
install -m 755 -d                                     %{buildroot}%{_datadir}/metainfo
install -m 644    install/metainfo/*.xml              %{buildroot}%{_datadir}/metainfo
install -m 755 -d                                     %{buildroot}%{_datadir}/doc/%{name}-%{version}/Yubico
install -m 644    docs/Yubico/*                       %{buildroot}%{_datadir}/doc/%{name}-%{version}/Yubico
install -m 644    LICENSE                             %{buildroot}%{_datadir}/doc/%{name}-%{version}/LICENSE
for x in docs/*; do
    [ -f "$x" ] && install -m 644 $x                  %{buildroot}%{_datadir}/doc/%{name}-%{version}/$(basename $x)
done
install -m 644 -D install/graphics/128x128/pwsafe.png %{buildroot}%{_datadir}/icons/hicolor/128x128/apps/pwsafe.png
install -m 644 -D install/graphics/48x48/pwsafe.png   %{buildroot}%{_datadir}/icons/hicolor/48x48/apps/pwsafe.png
for x in {da,de,es,fr,hu,it,ko,nl,pl,ru,sk,sl,sv,zh}; do
    install -m 644 -D build/src/ui/wxWidgets/I18N/mos/$x/LC_MESSAGES/pwsafe.mo %{buildroot}/%{_datadir}/locale/$x/LC_MESSAGES/pwsafe.mo
done


%clean
rm -rf %{buildroot}


%files
%defattr(-,root,root)
%{_bindir}/pwsafe*
%{_mandir}/man1/*
%docdir %{_datadir}/doc/%{name}-%{version}
%license %{_datadir}/doc/%{name}-%{version}/LICENSE
%license %{_datadir}/doc/%{name}-%{version}/Yubico/*
%{_datadir}/%{name}/xml
%{_datadir}/%{name}/help
%{_datadir}/applications/pwsafe.desktop
%{_datadir}/doc/%{name}-%{version}
%{_datadir}/icons/*/*/*/pwsafe.png
%{_datadir}/locale/*/*/pwsafe.mo
%{_datadir}/metainfo/*.xml

%changelog
* Thu May 07 2026 Carl Byington <carl@five-ten-sg.com> - 1.24-1
- add changelog entries from upstream
* Tue May 05 2026 Carl Byington <carl@five-ten-sg.com> - 1.23-2
- Use native spec file so the source rpm actually includes the
  source code.
- This includes source fixes thru 2026-05-05 which are not in
  the official 1.23-1 rpm.
- Convert docs to pdf format.
- Properly tag doc and license files.
- Enable debug packages.
* Tue Sep 29 2015 Rony Shapiro <ronys@pwsafe.org> - 0.97BETA-4
- Rename package to passwordsafe to avoid conflict with command-line pwsafe
* Thu Oct 24 2013 Johan Vromans <jvromans@squirrel.nl> - 0.92BETA-3
- Additional buildrequires for some platforms.
* Sun Sep 22 2013 Rony Shapiro <ronys@pwsafe.org> - 0.92BETA-2
- Changes for YubiKey build
* Sun Dec 02 2012 Rony Shapiro <ronys@pwsafe.org> - 0.8BETA-2
- Streamline rpm build process under PasswordSafe source tree
- Remove unwanted doc files from RPM
* Thu Nov 08 2012 David Dreggors <dadreggors@gmail.com> - 0.8BETA-1
- Spec file created for Fedora rpm builds
- First rpm build for Fedora 17
