Package: passwordsafe
Version: VERSION
Section: utils
Priority: optional
Conflicts: pwsafe
Architecture: i386
Maintainer: Rony Shapiro <ronys@users.sf.net>
Homepage: http://pwsafe.org/
Depends: libc6 (>= 2.7-18lenny4), libwxgtk2.8-0 (>=  2.8.7.1-1.1+lenny1), libuuid1 (>= 1.41.3-1), libxtst6 (>= 2:1.0.3-1)
Description: Portable version of popular password manager program
 pwsafe is the Linux version of the popular Windows PasswordSafe
 password manager.
 .
 Features:
  - Compatible with 1.x, 2.x and 3.x versions of the database format.
  - Uses wxWidgets for portability.
  - Supported by the maintainers of the original Win32 program. See
    http://pwsafe.org/
