[Desktop Entry]
Name=PasswordSafe
Comment=Manage passwords
Exec=pwsafe %f
Icon=pwsafe
Type=Application
StartupNotify=true
StartupWMClass=pwsafe
Categories=Utility;Security;
