<?xml version='1.0' encoding='utf-8'?>
<!-- PasswordSafe MSI package source code for WIX -->
<!-- Granted to the public domain by xenophonf -->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <Product Id='c2a02857-d138-446b-b181-442dee20c8e6'
	   UpgradeCode='6dbf5233-ad08-4345-9ac7-746f32614a43'
	   Name='Password Safe PWSAFE_VERSION for Windows'
	   Version='PWSAFE_VERSION'
	   Language='1033'
	   Manufacturer='Rony Shapiro'>

    <Package
	     Description='Password Safe PWSAFE_VERSION is an Open Source utility for simply and securely managing passwords for multiple accounts.' 
	     Comments='MSI package courtesy of Matthew X. Economou.'
	     Manufacturer='Rony Shapiro'
	     InstallerVersion='200'
	     Compressed='yes'
	     />

    <UIRef Id='WixUI_InstallDir' />
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id='WixUILicenseRtf' Value='docs\LICENSE.rtf' />

    <Media Id='1' Cabinet='pwsafe.cab' EmbedCab='yes' />

    <Property Id='WIXUI_INSTALLDIR' Value='PASSWORDSAFEPRODUCTDIR' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
	<Directory Id='PASSWORDSAFEPRODUCTDIR' Name='Password Safe'
	ShortName='pwsafe'>
	  <Component Id='Documentation' Guid='5787ed38-5d7f-4242-aa89-87d94f2077ed'>
	    <File Id='file0' Name='ChangeLog.txt' DiskId='1'
	    Source='docs\ChangeLog.txt' /> 
	    <File Id='file1' Name='LICENSE' DiskId='1' Source='LICENSE' />
	    <File Id='file2' Name='README.txt' DiskId='1' Source='README.txt' />
	    <File Id='file3' Name='ReleaseNotes.txt' DiskId='1'
	    Source='docs\ReleaseNotes.txt' />
	    <File Id='file4' Name='pwsafe.chm' DiskId='1'
	    Source='help\default\pwsafe.chm' /> 
	  </Component>
	  <Component Id='MainProgram'
	  Guid='25c2da5c-d483-4ca7-84f6-d28e17a59188'>
	    <File Id='file5' Name='pwsafe.exe' DiskId='1'
	      Source='src\bin\releasem\pwsafe.exe' Vital='yes'> 
	      <Shortcut Id='startmenu0' Directory='ProgramMenuFolder'
	      Name='Password Safe PWSAFE_VERSION' ShortName='pwsafe'
	      Icon='pwsafe.exe' IconIndex='0' Advertise='yes' />
	    </File>
	    <File Id='file6' Name='pws_at.dll' DiskId='1'
	      Source='src\bin\releasem\pws_at.dll' Vital='yes'> 
	    </File>
	    <File Id='file7' Name='pws_osk.dll' DiskId='1'
	      Source='src\bin\releasem\pws_osk.dll' Vital='yes'> 
	    </File>
	  </Component>
	  <Component Id='SupportingFiles'
	    Guid='2cb36029-a029-4f15-9838-4acacb823ce7'> 
	    <File Id='file8' Name='pwsafe.xsd' DiskId='1'
	    Source='xml\pwsafe.xsd' Vital='yes' />
	    <File Id='file9' Name='pwsafe.xsl' DiskId='1'
	    Source='xml\pwsafe.xsl' Vital='yes' />
	    <File Id='file10' Name='pwsafe_filter.xsd' DiskId='1'
	    Source='xml\pwsafe_filter.xsd' Vital='yes' />
	  </Component>
	</Directory>
      </Directory>
      <Directory Id='ProgramMenuFolder' Name='Programs' />
    </Directory>

    <Icon Id='pwsafe.exe' SourceFile='src\bin\releasem\pwsafe.exe' />

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='Documentation' />
      <ComponentRef Id='MainProgram' />
      <ComponentRef Id='SupportingFiles' />
    </Feature>

    <CustomAction Id='AssignAllusersProperty' Property='ALLUSERS'
    Value='1' />

    <InstallExecuteSequence>
      <Custom Action='AssignAllusersProperty'
      After='LaunchConditions'>Privileged</Custom>
    </InstallExecuteSequence>

  </Product>

</Wix>
